<form class="containerIn">
    <table>
    <tr>
    <td><b>Vehicle No</b></td>
    <td><input class="input" type="text" id="vno"/></td>
    </tr>
    <tr>
        <td><b>Vehicle Type</b></td>
        <td>
        <select class="input" id="vtype">
		<option value="car">Car</option>
		<option value="twr">TwoWheeler</option>
	    </select>
        </td>
    </tr>
    <tr>     
    <td><b>Floor</b></td>
    <td><input class="input" type="text" id="floor"/></td>
    </tr>
    <tr>
    <td><b>Rack No</b></td>
    <td><input class="input" type="text" id="rackno"/></td>
    </tr>
    <tr>
    <td><b>Date</b></td>
    <td><input class="input" type="text" id="day"/></td>
    </tr>
    <tr>
    <td><b>Time</b></td>
    <td><input class="input" type="text" id="times"/></td>
    </tr>
    <br/>
    <br/>
    <tr>
    <td><button class="submitButton" type="button" onclick={{this.allot}}>Allot</button></td>
    <td><button class="submitButton" type="reset">Reset</button></td>
    </tr>
</table>
</form>
